<div  class="offset5">
	<div class="stats">
<%= f.label :status, "Whats trending in your world:" %>
<small class="small_words">Just burst(write) what you feel right now </small>
<%= f.text_area :status %>

<%= f.label :intrests, "what are your intrests in the world:" %>
<small class="small_words">Share what you love doing </small>
<%= f.text_field :intrests %>

<%= f.label :age, "Age:" %>
<small class="small_words">Share your age if you want for better invitations</small>
<%= f.text_field :age %>

<%= f.label :bio, "Short bio:" %>
<small class="small_words">What would you want the other fashionistars to know about you </small>
<%= f.text_area :bio %>
</div>
</div>

